[submodule "integrations/opencrabs"]
	path = integrations/opencrabs
	url = https://github.com/adolfousier/opencrabs.git
[submodule "integrations/momo"]
	path = integrations/momo
	url = https://github.com/momomemory/momo.git
[submodule "integrations/awesome-llm-apps"]
	path = integrations/awesome-llm-apps
	url = https://github.com/Shubhamsaboo/awesome-llm-apps.git
[submodule "integrations/prefect"]
	path = integrations/prefect
	url = https://github.com/PrefectHQ/prefect.git
